body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
    margin: 0;
    padding: 0
}

@font-face{
    font-family: Long;
    src: url('fonts/Long.ttf');
}
@font-face{
    font-family: Zhi;
    src: url('fonts/Zhi.ttf');
}
@font-face{
    font-family: Ma;
    src: url('fonts/Ma.ttf');
}

body {
    font: 14px"宋体", "Arial Narrow", HELVETICA;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    background-color: #db9f36;
}

a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: #ff0702;
    text-decoration: none
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

#beian{
    position: fixed;
    right: 5px;
    width: 240px;
    bottom: 5px;
}

#gxb{
    width: 100%;
    text-align: center;
    border:1px dashed rgb(58, 29, 2);
    border-radius: 8px;
    height: 17px;
    line-height: 17px;
}

#beianh{
    color: rgb(58, 29, 2);
    font-family: 'Times New Roman', cursive;
    font-size: 15px;
}